*{
margin: 0px;
padding: 0px;
}

.BMW{
    width: 80%;
    height: 80%;
    transform: translatex(+15%);
}

.first{
    text-align: center;
    font-size: 35px;
    display: flex;
}

.seta{
    text-align: center;
    font-size: 80px;
}

.btn{
transform: translatex(+187%);
font-size: 25px;
background-color: black;
color: rgb(0, 102, 236);
cursor: pointer;
border-radius: 10px;
}